body{
    background-color: rgb(4, 5, 20)
}

div{
    margin-top: 180px;
    text-align: center;
}

button{
    height:40px; 
    width:400px; 
    margin: 0 auto;
    font-size: 32px;
}

canvas{
    margin: 0 auto;
}